*,
*:before,
*:after
    box-sizing border-box
    background-repeat no-repeat

html
    font-size 62.5%

body{
    font-family: "SF Pro Display", sans-serif;

    html[data-theme="dark"] & {
        background #161616
    }
}

