@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/sfpro/SFProDisplay-Bold.woff2') format('woff2'),
		url('../fonts/sfpro/SFProDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/sfpro/SFProDisplay-Medium.woff2') format('woff2'),
		url('../fonts/sfpro/SFProDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/sfpro/SFProDisplay-Regular.woff2') format('woff2'),
		url('../fonts/sfpro/SFProDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/sfpro/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/sfpro/SFProDisplay-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

