@font-face {
    font-family: 'Stabil Grotesk Trial';
    src: url('../fonts/stabil/subset-StabilGroteskTrial-Medium.woff2') format('woff2'),
        url('../fonts/stabil/subset-StabilGroteskTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stabil Grotesk Trial';
    src: url('../fonts/stabil/subset-StabilGroteskTrial-Regular.woff2') format('woff2'),
        url('../fonts/stabil/subset-StabilGroteskTrial-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

